
<div class="card card-pt" style="margin-bottom:50px !important">
	<% if pin.image.attached? %>
 	<%= image_tag pin.image, class: 'card-img-top foto' %>
 	<% end %>
 	<div class="card-body">
 		<div class="text-right">
			<%= pin.user.username%> |
			<span id="likes-<%= pin.id %>"><%= pin.likes.count %></span>
			<%	pre_like = pin.likes.find { |like| like.user_id == current_user.id} %>
			<% 	if pre_like %>
			<i class="fas fa-heart rojo cursor-pointer like" data-icon="fas" data-id="<%= pin.id %>" data-lid="<%= pre_like.id %>"></i>
			<% 	else %>
			<i class="far fa-heart rojo cursor-pointer like" data-icon="far" data-id="<%= pin.id %>" data-lid=""></i>
			<% 	end %>
		</div>
		<div>
			<h4 class="card-title"><%= pin.title %></h4>
 		</div>
	</div>
	<div class="card-footer">
		<div class="text-center">
			<%= link_to t('shared.view'), pin_path(:id => pin.id), class: 'btn btn-info'%>
			<%= link_to t('shared.edit'), edit_pin_path(:id => pin.id), class: 'btn btn-warning'%>
			<%= link_to t('shared.delete'), {controller: "pins", action: "destroy", id: pin}, method: 'delete', data: { confirm: t('shared.confirm') }, class: 'btn btn-primary' %>
		</div>
	</div>
</div>

