<h1 style="display: inline-block;"><%= current_user.first_name.titleize + ' ' + current_user.last_name.titleize %> </h1>
<div >
    <%= link_to raw('<i class="fas fa-2x fa-plus-square"></i>'), new_pin_path %> <%= link_to raw('<i class="fas fa-2x fa-pen-square"></i>'), new_pin_path %>
</div>
<div class="mb-3">
    <i><%= @apins.size %> Pin's</i> | <i>10 likes </i>
</div>



    
<div class="card-deck" id="pins">
    <%= render partial: 'pins/pinsindex', collection: @pins, as: :pin %>
</div>
<div class="text-center">
    <%= will_paginate @pins %>
</div>



<%= link_to raw('<div class="addButton"><i class="fas fa-3x fa-plus-circle"></i>
</i></div>'), new_pin_path %>




