<p id="notice"><%= notice %></p>


<%= link_to raw('<i class="fas fa-2x fa-arrow-left"></i>'), pins_path, class: 'btn btn-primary pull-left'%>



<div class="row">
	<div class="offset-4 col-4">
		<div class="card">
			<% if @pin.image.attached? %>
	 		<%= image_tag @pin.image, class: 'card-img-top' %>
	 		<% end %>
		 	<div class="card-body">
		 		<p class="card-text"><%= @pin.title %></p>
				<hr/>
		 		<p class="card-text"><%= @pin.description %></p>
		 		<hr/>
		 		<p><i><%= @pin.likes.count %> likes </i></p>
			</div>
			<div class="card-footer">
				<%= link_to t('shared.edit'), edit_pin_path(:id => @pin.id), class: 'btn btn-outline-primary pull-right btn-edit'%>
			</div>
		</div>
	</div>
</div>



<%= link_to raw('<div class="addButton"><i class="fas fa-3x fa-plus-circle"></i>
</i></div>'), new_pin_path %>




