<div class="card card-pt">
	<% if pin.image.attached? %>
 	<%= link_to image_tag(pin.image.variant(resize: "248"), class: 'card-img-top'), show_path(:id => pin.id) %>
 	<% end %>
 	<div class="card-body">

	<% if user_signed_in? %>
		<div class="text-right">
			<%= pin.user.username%>
			<span id="likes-<%= pin.id %>"><%= pin.likes.count %></span>
	<%	pre_like = pin.likes.find { |like| like.user_id == current_user.id} %>
	<% 	if pre_like %>
		<i class="fas fa-heart rojo cursor-pointer like" data-icon="fas" data-id="<%= pin.id %>" data-lid="<%= pre_like.id %>"></i>
	<% 	else %>
		<i class="far fa-heart rojo cursor-pointer like" data-icon="far" data-id="<%= pin.id %>" data-lid=""></i>
	<% 	end %>
		</div>
	<% end %>
		<div>
			<h4 class="card-title"><%= pin.title %></h4>
	 	</div>
	</div>
</div>

