<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= content_for?(:title) ? yield(:title) : "Introduccion Ror Jpt" %></title>
        <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Introduccion Ror Jpt" %>">


        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bricklayer/0.4.2/bricklayer.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/bricklayer/0.4.2/bricklayer.min.js"></script>


        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
        <%= csrf_meta_tags %>


    </head>
    <body>
        <header class="container">
            <%= render 'layouts/navigation' %>
        </header>
    
        <main role="main" class="container">
            <%= render 'layouts/messages' %>
            <%= yield %>
            <div class="clearfix" style="height:50px">&nbsp;</div>
        </main>

        <footer>
            <% if user_signed_in? %>
            <%= link_to raw('<div class="addButton"><i class="fas fa-3x fa-plus-circle"></i></i></div>'), new_pin_path %>
            <% end %>

        </footer>
    </body>
</html>
